<!DOCTYPE html>
<html>
<head>
    <title><ruby>p "Hello"</ruby></title>
</head>
<body>
    <ruby>
        @foo = 9
    </ruby>
    <h1>Test</h1>
    <ruby>
        @foo += 2
    </ruby>
    <div>
        <ruby>
            p @foo
            p "green bottles on a wall"
        </ruby>
    </div>
</body>